.action-link {
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.box-footer {
    background-color: #fff;
}

.box-footer ul {
    float: right!important;
    margin: auto 0;
}
.badge-red {
    background-color: #dd4b39 !important;
}

.badge-green {
    background-color: #00a65a !important;
}

.badge-blue {
    background-color: #3c8dbc !important;
}
